body {
    overflow: hidden;
}

#settings {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.1s ease;
}

#settings:hover {
    background: #eee;
}

#settings ion-icon {
    font-size: 1.25rem;
}
/*<main>
        <h1>🎨 Evolve a Painting</h1>
        <p>Leverage genetic algorithms to evovle a population of paintings</p>
        <button>Start Evolving</button>
        
        <div class="canvas-container">
            <canvas id="img-source"></canvas>
            <canvas id="img-result"></canvas>
        </div>
    </main>

    <div id="settings">
        <ion-icon name="settings-outline"></ion-icon>
    </div>
*/